@import 'normalize';
@import 'base';

/* Global variable scope */
$height: 70px;
$textColor: rgb(77, 105, 117);
$navBarColor: rgb(193, 160, 120);
$navBorderColor: rgb(166,107,52);

.fun-font{
  font-family: 'Indie Flower', cursive;
  font-size: 1.3rem;
}

.fancy-font{
  font-family: 'Marck Script', cursive;
  font-size: 1.5rem;
  line-height: 2.0rem;
}

.navbar{
  display: flex;  
  justify-content: space-around;
  align-items: center;

  background-color: $navBarColor;
  border-bottom: 3px solid lighten(desaturate($navBorderColor, 15%), 12%);
  height: $height;

  &::before{
    content: '';
    border-top: 2px solid transparent;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .logoText{
    color: $textColor;
    flex-grow: 1;
    font-family: "pieces of eight";
    font-size: 3rem;
    padding-left: 4rem;
  }

  .logo{
    flex-grow: 1;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 1rem;
    background-color: $navBarColor;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    .menu-item{
      border-bottom: 2px solid transparent;
      flex-grow: 1;
      color: darken(desaturate($textColor, 40%), 20%);
      line-height: $height;
      height: $height;
      text-align: center;

      &.active{
        background-color: lighten(desaturate($navBarColor, 5%), 7%); 
        border-color: $navBorderColor;
      }

      a{
        color: $textColor;
        text-decoration: none;
        font-family: "segeo ui";
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 1px;
        
      }

      a:visited{
        color: $textColor;
      }
    }

  }
}

.main{
  display: flex;
  flex-direction: column;

  .title{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    font-family: serif;
    font-weight: 700;

    margin-top: 6rem;

    width: 100%;
  }


  .galleries{
    display: flex;
    justify-content: space-around;
    width: 100%;

    

    .gallery{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: calc(100%/4);

      

      img{
        height: auto;
        width: 80%;

        border-radius: 10px;
      }

      a{
        text-decoration: none;

        figure{
          margin: 0 auto;
          position: relative;
  
          z-index: 100;
  
          font-family: sans-serif;
          font-weight: 600;
          font-size: 1.5rem;
  
          letter-spacing: 0.1rem;
          text-align: center;

          
  
          figcaption{
            position: absolute;
            bottom: 8px;
            left: 0;
            right: 0;
            margin: 0 auto;
            color: $textColor;
            text-shadow: 0.15rem 0.15rem rgba(0,0,0,0.8);
          }
        }
      }

      a:link,
      a:active,
      a:visited{
        color: $textColor;
      }

      a:hover{
        opacity: 0.85;
      }
    }
  }
}

